@import "variable";

@import "mixin";

@import "sidebar";
@import "header";
@import "footer";

/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  //font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
}
/* Your style start from here */
@import "animate";

.wrapper {
  background-image: url(../images/home.jpg);
  // background-image: url(~/Content/Website/images/home.jpg);
  background-size: cover;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  color: #fff;

  .logo {
    width: 300px;
  }
  p {
    margin-top: 25px;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px #000;
  }

  .button {
    margin-top: 25px;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;

    &:hover {
      font-weight: bold;
      border: solid 1px;
      padding: 10px 20px;
      background: grey;
    }
  }
}
