@charset "UTF-8";
/* Variable */
/* Set các giá trị với màn hình tương ứng */
/* Mixin */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #000;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 60px;
  right: -250px;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar [aria-expanded="true"] i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar a:not([data-toggle="collapse"]) {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#sidebar a:not([data-toggle="collapse"]):hover {
  font-weight: bold;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sidebar.active {
  right: 0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.71);
  z-index: 998;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  top: 60px;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #fff;
}

#sidebar ul.components {
  padding: 50px 20px 0 20px;
}

#sidebar ul p {
  color: #000;
  padding: 10px;
}

#sidebar ul li a {
  padding: 20px 0;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a i {
  float: right;
}

#sidebar ul ul li a {
  font-size: 1em;
  padding-left: 30px;
  background: #fff;
}

/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  background: #fff;
  width: 100%;
  height: 60px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left .logo {
  width: 100px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 479px) {
  .header__menu-list {
    display: none;
  }
}

.header__menu-item {
  margin: 0 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header__menu-item:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__menu-item a.active {
  font-weight: bold;
  border-bottom: solid 1px;
}

.header button i {
  font-size: 24px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding: 0 10px;
}

@media (max-width: 479px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer__copyright {
  color: #fff;
}

@media (max-width: 479px) {
  .footer__copyright {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .footer__copyright {
    display: none;
  }
}

.footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social__item {
  margin: 0 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social__item--fb {
  background: #537bbd;
}

.footer .social__item--in {
  background: #f10176;
}

.footer .social__item--pi {
  background: #eb5755;
}

.footer .social__item--up {
  background: grey;
}

@media (max-width: 479px) {
  .footer .social__item--up {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .footer .social__item--up {
    display: none;
  }
}

.footer .social__link {
  color: white;
  font-size: 0.75rem;
}

/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Lato", sans-serif;
}

/* Your style start from here */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  padding-top: 60px;
}

.gallery__item {
  width: 25vw;
  height: 25vw;
  padding: 2px;
  position: relative;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .gallery__item {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 479px) {
  .gallery__item {
    width: 100vw;
    height: 100vw;
  }
}

.gallery__item .carousel,
.gallery__item .carousel-inner,
.gallery__item .carousel-item {
  height: 100%;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.gallery__item-name {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  -webkit-transition: visibility 0s, opacity 2s linear;
  transition: visibility 0s, opacity 2s linear;
}

.gallery__item:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gallery__item:hover .gallery__item-name {
  opacity: 1;
  color: #fff;
  -webkit-animation: 0.08s ease-in-out infinite alternate;
          animation: 0.08s ease-in-out infinite alternate;
}
/*# sourceMappingURL=style.css.map */